@model ColourCoded.UI.Areas.Orders.Models.ResponseModels.OrderCustomerDetailModel

@{
  ViewData["Title"] = "ConfirmOrderCustomer";
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

  input[type=button] {
    width: 100px;
  }

  #main div {
    padding: 3px;
    font-size: 12px;
  }

  #divcustomerdetails {
    font-weight: bold;
  }

  #divcontacts {
    font-weight: bold;
  }
</style>
<br/>
<div id="main">
  <div>
    <fieldset>
      <legend>Customer Details</legend>
    </fieldset>
  </div>
  <div style="display: inline-block; width: 150px;">
    <div orderId="@Model.OrderId">
      Quote No
    </div>
    <div>
      Create Date
    </div>
    <div>
      Customer Name
    </div>
    <div>
      Customer Details
    </div>
    <div>
      Contact No
    </div>
    <div>
      Account No
    </div>
    <div>
      Mobile No
    </div>
    <div>
      Email Address
    </div>
  </div>
  <div id="divcustomerdetails" style="display: inline-block">
    <div>
      @Model.OrderNo&nbsp;
    </div>
    <div>
      @Model.OrderCreateDate.ToLongDateString()&nbsp;
    </div>
    <div>
      @Model.CustomerName&nbsp;
    </div>
    <div>
      @Model.CustomerDetails&nbsp;
    </div>
    <div>
      @Model.CustomerContactNo&nbsp;
    </div>
    <div>
      @Model.CustomerAccountNo&nbsp;
    </div>
    <div>
      @Model.CustomerMobileNo&nbsp;
    </div>
    <div>
      @Model.CustomerEmailAddress&nbsp;
    </div>
  </div>

  @if (Model.ContactAdded)
  {
    <br /> <br />
    <div>
      <fieldset>
        <legend>Contact Person</legend>
      </fieldset>
    </div>
    <div style="display: inline-block; width: 150px;">
      <div>
        Name
      </div>
      <div>
        Contact No
      </div>
      <div>
        Email Address
      </div>
    </div>
    <div id="divcontacts" style="display: inline-block">
      <div>
        @Model.ContactName&nbsp;
      </div>
      <div>
        @Model.ContactNo&nbsp;
      </div>
      <div>
        @Model.ContactEmailAddress&nbsp;
      </div>
    </div>
    <br /> <br />
  }
  <div>
    <fieldset>
      <legend></legend>
    </fieldset>
  </div>
  <div>
    <input id="edit" value="Change" type="button" data-orderid="@Model.OrderId" data-orderno="@Model.OrderNo" />
    <input id="address" value="Add Address" type="button" data-orderid="@Model.OrderId" data-orderno="@Model.OrderNo" data-customerid="@Model.CustomerId" />
    <input id="accept" value="Accept Order" type="button" data-orderid="@Model.OrderId" data-orderno="@Model.OrderNo" />
    <label id="validorder" class="validationLabel"></label>
  </div>
</div>

@section Scripts{
  <script>
    $("#edit").click(function () {
      window.location.href = '@Url.Action("OrderCustomer")' + '?orderId=' + $(this).data("orderid") + '&orderNo=' + $(this).data("orderno") + "&new=false";
    });

    $("#address").click(function () {
      window.location.href = '@Url.Action("AddressDetail")' + '?orderId=' + $(this).data("orderid") + '&orderNo=' + $(this).data("orderno") + "&customerid=" + $(this).data("customerid");
    });


  </script>
}