
@{
  ViewData["Title"] = "OrderCustomer";
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
  table thead tr td {
    background-color: lightgray;
    padding: 3px;
    font-weight: bold;
  }

  table tbody tr td {
    padding: 3px;
  }

  table i {
    cursor: pointer;
  }

  .validationLabel {
    color: red;
    width: 150px;
    font-size: 11px;
  }

  .main div {
    padding: 7px;
  }

    .main div span {
      font-size: 11px;
      font-weight: bold;
    }

  .orderno {
    width: 100px;
  }
</style>
<div class="row">
  <div class="col-md-3">
    <h4 class="page-header-sm">
      Customer Details
    </h4>
    <div class="main">
      <div>
        <span>Available Customers</span>
        <br />
        <select id="existingcustomers" class="form-control-large">
          <option value='0'></option>
        </select>
      </div>
      <div>
        <span>Customer Name (*)</span>
        <br />
        <input type="text" id="customername" placeholder="Enter Name" class="form-control-large" />
      </div>
      <div>
        <span>Customer Contact No (*)</span>
        <br />
        <input type="text" id="customercontactno" class="number form-control-large" placeholder="Enter Contact No" maxlength="10" />
      </div>
      <div>
        <span>Customer Details</span>
        <br />
        <textarea id="customerdetails" class="form-control-large" rows="4">
        </textarea>
      </div>
      <div>
        <span>Customer Account No</span>
        <br />
        <input type="text" id="customeraccountno" class="form-control-large" placeholder="Enter Account No" />
      </div>
      <div>
        <span>Customer Mobile No</span>
        <br />
        <input type="text" id="customermobileno" class="number form-control-large" placeholder="Enter Mobile No" maxlength="10" />
      </div>
      <div>
        <span>Customer Email</span>
        <br />
        <input type="text" id="customeremail" class="form-control-large" placeholder="Enter Email" />
      </div>
      <div style="padding-top: 10px">
        <input id="done" value="Delivery Address" type="button" class="btn-large btn-success" data-toggle="modal" data-target="#ConfirmModal" />&nbsp;&nbsp;
        <input id="addcontact" value="Add Contact Person" type="button" class="btn-large btn-success" />&nbsp;&nbsp;
      </div>
      <div style="padding-top: 10px">
        <input id="complete" value="Complete Order" type="button" class="btn-large btn-success" data-toggle="modal" data-target="#CompleteModal" />&nbsp;&nbsp;
        <input id="cancel" value="Cancel" type="button" class="btn-large btn-default" />&nbsp;&nbsp;
      </div>
      <br />
    </div>
  </div>
  <div id="pnlContact" style="display: none;" class="col-md-3">
    <h4 class="page-header-sm">
      Contact Person
    </h4>
    <div class="main">
      <div>
        <span>Available Contacts</span>
        <br />
        <select id="existingcontacts" class="form-control-large">
          <option value='0'></option>
        </select>
      </div>

      <div>
        <span>Contact Name</span>
        <br />
        <input type="text" id="contactname" placeholder="Enter Name" class="form-control-large" />
      </div>
      <div>
        <span>Contact No</span>
        <br />
        <input type="text" id="contactno" class="number form-control-large" placeholder="Enter Contact No" maxlength="10" />
      </div>
      <div>
        <span>Contact Email</span>
        <br />
        <input type="text" id="contactemail" placeholder="Enter Email" class="form-control-large" />
      </div>
      <br />
    </div>
  </div>
</div>

<!-- Confirm Popup -->
<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:250px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="ConfirmModalLabel">Delivery Address</h4>
      </div>
      <div class="modal-body">Leave page? Any unsaved changes will be lost.</div>
      <div class="modal-footer">
        <button type="button" class="btn-normal btn-primary" id="deliveryaddress">Yes</button>
        <button type="button" class="btn-normal btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Complete Order Popup -->
<div class="modal fade" id="CompleteModal" tabindex="-1" role="dialog" aria-labelledby="CompleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:250px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="CompleteModalLabel">Complete Order</h4>
      </div>
      <div class="modal-body">Leave page? Any unsaved changes will be lost.</div>
      <div class="modal-footer">
        <button type="button" class="btn-normal btn-primary" id="accept">Yes</button>
        <button type="button" class="btn-normal btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


@section Scripts{
  <script>
    var queryString = location.href.split("?")[1];
    var orderId = 0;
    var orderNo = "";
    var contactAdded = true;
    var order = {
      "customerContacts": [],
      "customers": []
    };

    $(document).ready(function () {

      // get the customers belonging to the company profile and/or user
      $.ajax({
        url: '@Url.Action("GetOrderCustomers")',
        type: "POST",
        success: function (customerlist) {
          $.each(customerlist, function (index, customer) {

            order.customers.push(
              {
                "customerid": customer.customerId, "customername": customer.customerName,
                "customerdetails": customer.customerDetails, "contactno": customer.contactNo,
                "accountno": customer.accountNo, "mobileno": customer.mobileNo, "emailaddress": customer.emailAddress
              });

            $("#existingcustomers").append("<option value='" + customer.customerId + "' index='" + (index) +"'>" + customer.customerName + "</option>");
          });

          $("#customerdetails").html("");
        },
        error: function (xhr, options, error) {
          alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
        }
      });

      if (queryString != undefined) {
        // get order id from query string
        orderId = queryString.split("&")[0].split("=")[1];
        orderNo = queryString.split("&")[1].split("=")[1];
      }

    });

    $('#addcontact').click(function() {
      $('#pnlContact').fadeIn(600);
      var scrollPos = $("#pnlContact").offset().top;
      $(window).scrollTop(scrollPos);
    });

    $("#existingcustomers").change(function () {
        var customerId = $(this).val();

        if (customerId != "0") {

          $.ajax({
            url: '@Url.Action("GetCustomerContacts")',
            data: { customerId: customerId },
            type: "POST",
            success: function (customercontactslist) {

              order.customerContacts = [];
              $("#existingcontacts").html("");
              $("#existingcontacts").append("<option value='0'></option>");

              // loop through contacts and append to the contacts drop down list
              $.each(customercontactslist, function (index, contact) {

                order.customerContacts.push(
                  {
                    "contactid": contact.contactId, "contactname": contact.contactName, "contactno": contact.contactNo, "emailaddress": contact.emailAddress
                  });

                $("#existingcontacts").append("<option value='" + contact.contactId + "' index='" + (index) + "'>" + contact.contactName + "</option>");
              });

              // append the customer details to the customer details panel
              var index = $('option:selected', $("#existingcustomers")).attr('index');

              $("#customername").val(order.customers[index].customername);
              $("#customerdetails").val(order.customers[index].customerdetails);
              $("#customercontactno").val(order.customers[index].contactno);
              $("#customeraccountno").val(order.customers[index].accountno);
              $("#customermobileno").val(order.customers[index].mobileno);
              $("#customeremail").val(order.customers[index].emailaddress);
              $("#contactname").val("");
              $("#contactno").val("");
              $("#contactemail").val("");

            },
            error: function (xhr, options, error) {
              alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
            }
          });
        }
        else {
          $("input[type=text]").val("");
          $("textarea").val("");
          $("#existingcontacts").html("");
          $("#existingcontacts").append("<option value='0'>new contact</option>");
          order.customerContacts = [];
        }

      });

      $("#existingcontacts").change(function () {
        refreshContactsPanel();

        var selectedContact = $(this).val();

        if (selectedContact != "") {
          var index = $('option:selected', $("#existingcontacts")).attr('index');

          // populate the contact form inputs
          $("#contactname").val(order.customerContacts[index].contactname);
          $("#contactno").val(order.customerContacts[index].contactno);
          $("#contactemail").val(order.customerContacts[index].emailaddress);
          contactAdded = true;
        }

    });

    $("#cancel").click(function () {
      location.href = '@Url.Action("Index", "Orders", new { area = "Orders" })'
    });

    $("input[class='number form-control-large']").keyup(function (event) {
      var keyValue = $(this).val();

      if (!$.isNumeric(event.key))
        $(this).val(keyValue.replace(event.key, ""));
    });

    $("input[class='number form-control-large']").change(function (event) {
      if (!$.isNumeric($(this).val()))
        $(this).val("");
    });

    function validateEmail(email) {
      var pattern = /^[a-zA-Z0-9\-_]+(\.[a-zA-Z0-9\-_]+)*@@[a-z0-9]+(\-[a-z0-9]+)*(\.[a-z0-9]+(\-[a-z0-9]+)*)*\.[a-z]{2,4}$/;
      return pattern.test(email);
    }

    $("#customeremail").change(function (event) {
      var emailAddress = $(this).val();

      if (!validateEmail(emailAddress) && emailAddress != "") {
        $(this).addClass("alert-danger");
        $(this).attr("placeholder", "Enter valid email");
      }
    });

    $("#contactemail").change(function (event) {
      var emailAddress = $(this).val();

      if (!validateEmail(emailAddress) && emailAddress != "") {
        $(this).addClass("alert-danger");
        $(this).attr("placeholder", "Enter valid email");
      }
    });

    $("#contactemail").keypress(function (event) {
      if (event.keyCode == 13) { $("#done").click(); }
    });

    $("#deliveryaddress").click(function () {
      // get the customer panel details
      var customerid = $("#existingcustomers").val();
      var customername = $("#customername").val();
      var customerdetails = $("#customerdetails").val();
      var customercontactno = $("#customercontactno").val();
      var customeremail = $("#customeremail").val();
      var customeraccountno = $("#customeraccountno").val();
      var customermobileno = $("#customermobileno").val();
      // get the contact panel details
      var contactid = $("#existingcontacts").val();
      var contactname = $("#contactname").val();
      var contactno = $("#contactno").val();
      var contactemail = $("#contactemail").val();

      if (!validCustomerForm()) return;

      if (!validContactForm()) {
        if (confirm("No contact person has been added. Continue with only the customer details?")) {
          contactAdded = false;
        }
        else { return; }
      }

      $.ajax({
        url: '@Url.Action("AddCustomerOrder")',
        type: "POST",
        data: {
          CustomerId: customerid, CustomerName: customername, CustomerDetails: customerdetails, CustomerContactNo: customercontactno,
          CustomerMobileNo: customermobileno, CustomerAccountNo: customeraccountno, CustomerEmailAddress: customeremail, OrderId: orderId,
          ContactId: contactid, ContactName: contactname, ContactEmailAddress: contactemail, ContactNo: contactno, ContactAdded: contactAdded
        },
        success: function (data) {
          window.location.href = '@Url.Action("AddressDetail")' + '?orderId=' + data.orderId + '&orderNo=' + data.orderNo + '&customerId=' + data.customerId;
        },
        error: function (xhr, options, error) {
          alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
        }
      });

    });

    function removeContact() {
      $("#contacts tbody").html("");
    }

    function validContactForm() {
      var valid = true;
      var contactname = $("#contactname").val();
      var contactno = $("#contactno").val();
      var contactemail = $("#contactemail").val();

      if (contactname == "") { $("#contactname").addClass("alert-danger"); valid = false; }
      if (contactno == "") { $("#contactno").addClass("alert-danger"); valid = false; }
      if (contactemail != "" && (!validateEmail(contactemail))) { valid = false; }

      return valid;
    }

    function validCustomerForm() {
      var valid = true;
      var customername = $("#customername").val();
      var customercontactno = $("#customercontactno").val();
      var customeremail = $("#customeremail").val();

      if (customername == "") { $("#customername").addClass("alert-danger"); valid = false; }
      if (customercontactno == "") { $("#customercontactno").addClass("alert-danger"); valid = false; }
      if (customeremail != "" && (!validateEmail(customeremail))) {  valid = false; }

      return valid;
    }

    function refreshContactsPanel() {
      $("#contactname").val("");
      $("#contactno").val("");
      $("#contactemail").val("");
      $("#divcontacts").hide();
      $("#contacts tbody").html("");
    }
  </script>
}
