
@{
  ViewData["Title"] = "OrderCustomer";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

  .main div {
    padding: 3px;
  }

    .main div span {
      font-size: 11px;
      font-weight: bold;
    }
</style>
<div class="row">
  <div class="col-md-5">
    <h4 class="page-header-sm">
      Customer Details
    </h4>
    <div class="main">
      <div>
        <span>Order No</span>
        <br />
        <input type="text" id="orderno" disabled class="form-control-small" />
      </div>
      <div>
        <span>Customers</span>
        <br />
        <select id="existingcustomers" class="form-control-small" style="width:200px">
          <option value='0'>New Customer</option>
        </select>
      </div>
      <div>
        <span>Name *</span>
        <br />
        <input type="text" id="customername" placeholder="Enter Name" class="form-control-small" style="width:200px" />
      </div>
      <div>
        <span>Other</span>
        <br />
        <textarea id="customerdetails" class="form-control-normal" rows="3" maxlength="155">
        </textarea>
      </div>
      <div>
        <span>Email</span>
        <br />
        <input type="text" id="customeremail" class="form-control-small" placeholder="Enter Email" style="width:200px" />
      </div>
      <div>
        <span>Account No</span>
        <br />
        <input type="text" id="customeraccountno" class="form-control-small" placeholder="Enter Account No" />
      </div>
      <div>
        <span>Contact No *</span>
        <br />
        <input type="text" id="customercontactno" class="number form-control-small" placeholder="Enter Contact No" maxlength="10" />
      </div>
      <div>
        <span>Cell No</span>
        <br />
        <input type="text" id="customermobileno" class="number form-control-small" placeholder="Enter Cell No" maxlength="10" />
      </div>
      <div class="main" id="pnlContact" style="display: none;">
        <hr style="margin-top:10px; margin-bottom:2px" />
        <div>
          <span>Contacts</span>
          <br />
          <select id="existingcontacts" class="form-control-small" style="width:200px">
            <option value='0'>New Contact</option>
          </select>
        </div>
        <div>
          <span>Contact Person Name</span>
          <br />
          <input type="text" id="contactname" placeholder="Enter Name" class="form-control-small" style="width:200px" />
        </div>
        <div>
          <span>Email</span>
          <br />
          <input type="text" id="contactemail" placeholder="Enter Email" class="form-control-small" style="width:200px" />
        </div>
        <div>
          <span>Cell No</span>
          <br />
          <input type="text" id="contactno" class="number form-control-small" placeholder="Enter Cell No" maxlength="10" />
        </div>
      </div>
      <div style="padding-top: 10px">
        <input id="save" value="Save Customer" type="button" class="btn-normal-thin btn-success" />&nbsp;&nbsp;
        <input id="addcontact" value="Contact Person" type="button" class="btn-normal-thin btn-success" />&nbsp;&nbsp;
        <input id="cancel" value="Cancel" type="button" class="btn-normal-thin btn-default" />&nbsp;&nbsp;
      </div>
    </div>
  </div>

</div>
<input id="hidden" type="button" style="visibility: hidden" data-toggle="modal" data-target="#ConfirmModal" />
<!-- Saved Successful Popup -->
<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:280px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeconfirm">&times;</button>
        <h4 class="modal-title" id="ConfirmModalLabel">Successfully saved</h4>
      </div>
      <div class="modal-body">What would you like to do next?</div>
      <div class="modal-footer">
        <button type="button" class="btn-normal-thin btn-primary" id="deliveryaddress">Address Details</button>
        <button type="button" class="btn-normal-thin btn-primary" id="accept">Accept Order</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="hdnCustomerId" />

@section Scripts{
  <script>
    var queryString = location.href.split("?")[1];
    orderId = 0;
    orderNo = "";

    var contactAdded = false;
    var order = {
      "customerContacts": [],
      "customers": []
    };

    $(document).ready(function () {

      // get the customers belonging to the company profile and/or user
      $.ajax({
        url: '@Url.Action("GetOrderCustomers")',
        type: "POST",
        success: function (customerlist) {
          $.each(customerlist, function (index, customer) {

            order.customers.push(
              {
                "customerid": customer.customerId, "customername": customer.customerName,
                "customerdetails": customer.customerDetails, "contactno": customer.contactNo,
                "accountno": customer.accountNo, "mobileno": customer.mobileNo, "emailaddress": customer.emailAddress
              });

            $("#existingcustomers").append("<option value='" + customer.customerId + "' index='" + (index) +"'>" + customer.customerName + "</option>");
          });

          $("#customerdetails").html("");
        },
        error: function (xhr, options, error) {
          alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
        }
      });

      if (queryString != undefined) {
        // get order id from query string
        orderId = queryString.split("&")[0].split("=")[1];
        orderNo = queryString.split("&")[1].split("=")[1];
        $("#orderno").val(orderNo);

        // get the customers details for the existing order
        $.ajax({
          url: '@Url.Action("GetOrderCustomerDetails")' + '?orderId=' + orderId,
          type: "POST",
          success: function (dataOrderDetails) {
            var delay = 200;
            setTimeout(function () {
              $("#existingcustomers").val(dataOrderDetails.customerId);
              $("#existingcustomers").data("contactid", dataOrderDetails.contactId);
              $("#existingcustomers").change();
            }, delay);

          },
          error: function (xhr, options, error) {
            alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
          }
        });
      }

    });

    $("#existingcustomers").change(function () {
        var customerId = $(this).val();

        if (customerId != "0") {

          $.ajax({
            url: '@Url.Action("GetCustomerContacts")',
            data: { customerId: customerId },
            type: "POST",
            success: function (customercontactslist) {

              order.customerContacts = [];
              $("#existingcontacts").html("");
              $("#existingcontacts").append("<option value='0'>New Contact</option>");

              // loop through contacts and append to the contacts drop down list
              $.each(customercontactslist, function (index, contact) {

                order.customerContacts.push(
                  {
                    "contactid": contact.contactId, "contactname": contact.contactName, "contactno": contact.contactNo, "emailaddress": contact.emailAddress
                  });

                $("#existingcontacts").append("<option value='" + contact.contactId + "' index='" + (index) + "'>" + contact.contactName + "</option>");
              });

              // append the customer details to the customer details panel
              var customerindex = $('option:selected', $("#existingcustomers")).attr('index');

              $("#customername").val(order.customers[customerindex].customername);
              $("#customerdetails").val(order.customers[customerindex].customerdetails);
              $("#customercontactno").val(order.customers[customerindex].contactno);
              $("#customeraccountno").val(order.customers[customerindex].accountno);
              $("#customermobileno").val(order.customers[customerindex].mobileno);
              $("#customeremail").val(order.customers[customerindex].emailaddress);

              var contactId = $("#existingcustomers").data("contactid");
              if (contactId != 0) {

                $("#existingcontacts").val(contactId);
                var contactindex = $('option:selected', $("#existingcontacts")).attr('index');

                $("#contactname").val(order.customerContacts[contactindex].contactname);
                $("#contactno").val(order.customerContacts[contactindex].contactno);
                $("#contactemail").val(order.customerContacts[contactindex].emailaddress);
                $('#addcontact').click();
              }

            },
            error: function (xhr, options, error) {
              alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
            }
          });
        }

      });

    $("#existingcontacts").change(function () {
      refreshContactsPanel();

      var selectedContact = $(this).val();

      if (selectedContact != "") {
        var index = $('option:selected', $("#existingcontacts")).attr('index');

        // populate the contact form inputs
        $("#contactname").val(order.customerContacts[index].contactname);
        $("#contactno").val(order.customerContacts[index].contactno);
        $("#contactemail").val(order.customerContacts[index].emailaddress);

      }

    });

    $("#save").click(function () {
      // get the customer panel details
      var customerid = $("#existingcustomers").val();
      var customername = $("#customername").val();
      var customerdetails = $("#customerdetails").val();
      var customercontactno = $("#customercontactno").val();
      var customeremail = $("#customeremail").val();
      var customeraccountno = $("#customeraccountno").val();
      var customermobileno = $("#customermobileno").val();
      // get the contact panel details
      var contactid = $("#existingcontacts").val();
      var contactname = $("#contactname").val();
      var contactno = $("#contactno").val();
      var contactemail = $("#contactemail").val();

      if (!validCustomerForm()) return;

      if (contactAdded) {
        if (!validContactForm()) return;
      }
        

      $.ajax({
        url: '@Url.Action("AddCustomerOrder")',
        type: "POST",
        data: {
          CustomerId: customerid, CustomerName: customername, CustomerDetails: customerdetails, CustomerContactNo: customercontactno,
          CustomerMobileNo: customermobileno, CustomerAccountNo: customeraccountno, CustomerEmailAddress: customeremail, OrderId: orderId,
          ContactId: contactid, ContactName: contactname, ContactEmailAddress: contactemail, ContactNo: contactno, ContactAdded: contactAdded
        },
        success: function (data) {
          $("#hdnCustomerId").val(data.customerId);
          $("#hidden").click();
        },
        error: function (xhr, options, error) {
          alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
        }
      });

    });

    $("#accept").click(function () {
      $.ajax({
          url: '@Url.Action("AcceptOrder")',
          type: "POST",
          data: { orderId: orderId },
          success: function () {
            location.href = '@Url.Action("Index", "Orders", new { area = "Orders" })';
          },
          error: function (xhr, options, error) {
            alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
          }
        });
    });

    $("#deliveryaddress").click(function () {
      window.location.href = '@Url.Action("AddressDetail")' + '?orderId=' + orderId + '&orderNo=' + orderNo + '&customerId=' + $("#hdnCustomerId").val();
    });

    $('#addcontact').click(function () {
      if ($('#pnlContact').css('display') == 'none') {
        contactAdded = true;
        $('#pnlContact').fadeIn(500);
        var scrollPos = $("#pnlContact").offset().top;
        $(window).scrollTop(scrollPos);

      }
      else { 
        $('#pnlContact').fadeOut(500);
        var scrollPos = $("#addcontact").offset().top;
        $(window).scrollTop(scrollPos);
      }

    });


    $("#cancel").click(function () {
      location.href = '@Url.Action("Index", "Orders", new { area = "Orders" })'
    });

    //////////////////    Private Helper Methods
    ///////////////////////////////////////////////////

    function validContactForm() {
      var valid = true;

      if ($("#contactname").val() == "") { $("#contactname").addClass("alert-danger"); valid = false; }
      if ($("#contactno").val() == "") { $("#contactno").addClass("alert-danger"); valid = false; }
      if ($("#contactemail").val() != "" && (!validateEmail($("#contactemail").val()))) { valid = false; }

      return valid;
    }

    function validCustomerForm() {
      var valid = true;
      var customername = $("#customername").val();
      var customercontactno = $("#customercontactno").val();
      var customeremail = $("#customeremail").val();

      if (customername == "") { $("#customername").addClass("alert-danger"); valid = false; }
      if (customercontactno == "") { $("#customercontactno").addClass("alert-danger"); valid = false; }
      if (customeremail != "" && (!validateEmail(customeremail))) {  valid = false; }

      return valid;
    }

    function refreshContactsPanel() {
      $("#contactname").val("");
      $("#contactno").val("");
      $("#contactemail").val("");
      $("#divcontacts").hide();
      $("#contacts tbody").html("");
    }

    function validateEmail(email) {
      var pattern = /^[a-zA-Z0-9\-_]+(\.[a-zA-Z0-9\-_]+)*@@[a-z0-9]+(\-[a-z0-9]+)*(\.[a-z0-9]+(\-[a-z0-9]+)*)*\.[a-z]{2,4}$/;
      return pattern.test(email);
    }

    ////////////////// END :  Private Helper Methods
    //////////////////////////////////////////////////////

    //////////////////    Key Press and Change events
    ///////////////////////////////////////////////////

    $("input[type='text']").keyup(function (event) {
      $(this).removeClass("alert-danger");
    });


    $("input[class='number form-control-small']").keyup(function (event) {
      if (!$.isNumeric(event.key))
        $(this).val($(this).val().replace(event.key, ""));
    });

    $("input[class='number form-control-small']").keypress(function (event) {
      if (!$.isNumeric(event.key))
        $(this).val($(this).val().replace(event.key, ""));
    });

    $("input[class='number form-control-small']").change(function (event) {
      if (!$.isNumeric($(this).val()))
        $(this).val("");
    });


    $("#customeremail").change(function (event) {
      var emailAddress = $(this).val();

      if (!validateEmail(emailAddress) && emailAddress != "") {
        $(this).addClass("alert-danger");
        $(this).attr("placeholder", "Enter valid email");
      }
    });

    $("#contactemail").change(function (event) {
      var emailAddress = $(this).val();

      if (!validateEmail(emailAddress) && emailAddress != "") {
        $(this).addClass("alert-danger");
        $(this).attr("placeholder", "Enter valid email");
      }
    });

    $("#contactemail").keypress(function (event) {
      if (event.keyCode == 13) { $("#done").click(); }
    });

    ////////////////// END :  Key Press and Change events
    /////////////////////////////////////////////////////
  </script>
}
