
@{
  ViewData["Title"] = "OrderCustomer";
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
  table thead tr td {
    background-color: lightgray;
    padding: 3px;
    font-weight: bold;
  }

  table tbody tr td {
    padding: 3px;
  }

  table i {
    cursor: pointer;
  }

  input[type=button] {
    width: 100px;
  }

  .validationLabel {
    color: red;
    width: 150px;
    font-size: 11px;
  }

  #main div {
    padding: 3px;
  }

    #main div span {
      font-size: 11px;
    }

  .orderno {
    width: 100px;
  }

  textarea {
    width: 180px;
    height: 70px;
  }
</style>
<h3 id="orderno" orderid></h3>
<div id="main">
  <div id="left" style="display: inline-block; width:300px">
    <fieldset>
      <legend>Customer Details</legend>
      <div>
        <span>Available Customers</span>
        <br />
        <select id="existingcustomers" style="width: 175px">
          <option value='0'>new customer</option>
        </select>
      </div>
      <div>
        <span>Customer Name</span>
        <br />
        <input type="text" id="customername" placeholder="Enter a short name" maxlength="10" />
      </div>
      <div>
        <span>Customer Details</span>
        <br />
        <textarea id="customerdetails">
        </textarea>
      </div>
      <div>
        <span>Customer Contact No</span>
        <br />
        <input type="text" id="customercontactno" placeholder="Enter a contact no" maxlength="10" />
      </div>
      <div>
        <span>Customer Account No</span>
        <br />
        <input type="text" id="customeraccountno" placeholder="Enter accountno (optional)" />
      </div>
      <div>
        <span>Customer Mobile No</span>
        <br />
        <input type="text" id="customermobileno" placeholder="Enter mobile no (optional)" maxlength="10" />
      </div>
      <div>
        <span>Customer Email</span>
        <br />
        <input type="text" id="customeremail" placeholder="Enter email (optional)" />
      </div>
    </fieldset>
  </div>
  <div id="right" style="display: inline-block; position:absolute">
    <fieldset id="panelContacts">
      <legend>Customer Contacts</legend>
      <div>
        <span>Available Contacts</span>
        <br />
        <select id="existingcontacts" style="width: 175px">
          <option value='0'>new contact</option>
        </select>
      </div>
      <div>
        <span>Contact Name</span>
        <br />
        <input type="text" id="contactname" placeholder="Enter any name" />
      </div>
      <div>
        <span>Contact No</span>
        <br />
        <input type="text" id="contactno" placeholder="Enter a contact no" maxlength="10" />
      </div>
      <div>
        <span>Contact Email</span>
        <br />
        <input type="text" id="contactemail" placeholder="Enter email (optional)" />
      </div>
      <div style="padding-top:10px">
        <form id="formaddcustomer" method="post" action="@Url.Action("AddCustomerOrder")">
          <input id="addcontact" value="Add Contact" type="button" />&nbsp;
          <input id="done" value="Done" type="button" />&nbsp;
          <label id="validbuttons" class="validationLabel"></label>
        </form>
      </div>
      <br />
      <div id="divcontacts">
        <span>Added Contact</span>
        <table id="contacts">
          <thead>
            <tr>
              <td>Name</td>
              <td>ContactNo</td>
              <td>EmailAddress</td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <legend></legend>
    </fieldset>
  </div>

  @*

      <fieldset id="panelAddress">
      <legend>Address Details</legend>
      <div>
        <span>Address Type</span>
        <br />
        <select id="addresstype">
          <option value="Home">Home</option>
          <option value="Business">Business</option>
          <option value="Delivery">Delivery</option>
        </select>
      </div>
      <div style="display: inline-block">
        <span>Line 1</span>
        <br />
        <input type="text" id="addressline1" placeholder="Enter unit/street no" />
      </div>
      <br />
      <div style="display: inline-block; width: 200px">
        <span>Line 2</span>
        <br />
        <input type="text" id="addressline2" placeholder="Enter suburb" />
      </div>
      <div style="display: inline-block">
        <span>City</span>
        <br />
        <input type="text" id="addresscity" placeholder="Enter city" />
      </div>
      <br />
      <div style="display: inline-block; width: 200px">
        <span>Country</span>
        <br />
        <select id="addresscountry">
          <option value="RSA">Republic of South Africa</option>
        </select>
      </div>
      <div style="display: inline-block">
        <span>Postal Code</span>
        <br />
        <input type="text" id="addresspostalcode" placeholder="Enter postal code" />
      </div>
      <br />
      <div id="divaddressdetails">
        <span>Address Details</span>
        <table id="addressdetails">
          <thead>
            <tr>
              <td>Type</td>
              <td>Line1</td>
              <td>Line2</td>
              <td>City</td>
              <td>Country</td>
              <td>Postal</td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </fieldset>*@
</div>
@section Scripts{
  <script>
    var queryString = location.href.split("?")[1];
    var orderId = 0;
    var orderNo = "";
    var order = {
      "customerContacts": [],
      "addContacts": [],
      "customers": []
    };

    $(document).ready(function () {

      $.ajax({
        url: '@Url.Action("GetOrderCustomers")',
        type: "POST",
        success: function (customerlist) {

          $.each(customerlist, function (index, customer) {

            order.customers.push(
              {
                "customerid": customer.customerId, "customername": customer.customerName,
                "customerdetails": customer.customerDetails, "contactno": customer.contactNo,
                "accountno": customer.accountNo, "mobileno": customer.mobileNo, "emailaddress": customer.emailAddress
              });

            $("#existingcustomers").append("<option value='" + customer.customerId + "' index='" + (index) +"'>" + customer.customerName + "</option>");
          });
        },
        error: function (xhr, options, error) {
          alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
        }
      });

      if (queryString != undefined) {

        // get order id from query string
        orderId = queryString.split("&")[0].split("=")[1];
        orderNo = queryString.split("&")[1].split("=")[1];

        $("#orderno").html("Order: " + orderNo);
        $("#orderno").attr("orderid", orderId);

        $.ajax({
          url: '@Url.Action("GetOrderCustomerDetails")',
          data: { orderId : orderId},
          type: 'POST',
          success: function (customerorderdetails) {
            alert(JSON.stringify(customerorderdetails));
            $("#customername").val(customerorderdetails.customerName);
          },
          error: function (xhr, options, error) {
            alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
          }
        });

      }

      $("#customerdetails").html("");
      $("#divcontacts").hide();
    });

    $("#existingcustomers").change(function () {
        var customerId = $(this).val();

        if (customerId != "") {

          $("#customername").attr("disabled", "disabled");
          $("#customercontactno").attr("disabled", "disabled");
          $("#customeraccountno").attr("disabled", "disabled");
          $("#customermobileno").attr("disabled", "disabled");
          $("#customeremail").attr("disabled", "disabled");
          $("#customerdetails").attr("disabled", "disabled");

          $.ajax({
            url: '@Url.Action("GetCustomerContacts")',
            data: { customerId: customerId },
            type: "POST",
            success: function (customercontactslist) {

              order.customerContacts = [];
              $("#existingcontacts").html("");
              $("#existingcontacts").append("<option value='0'>new contact</option>");

              // loop through contacts and append to the contacts drop down list
              $.each(customercontactslist, function (index, contact) {

                order.customerContacts.push(
                  {
                    "contactid": contact.contactId, "contactname": contact.contactName, "contactno": contact.contactNo, "emailaddress": contact.emailAddress
                  });

                $("#existingcontacts").append("<option value='" + contact.contactId + "' index='" + (index) + "'>" + contact.contactName + "</option>");
              });

              // append the customer details to the customer details panel
              var index = $('option:selected', $("#existingcustomers")).attr('index');

              $("#customername").val(order.customers[index].customername);
              $("#customerdetails").val(order.customers[index].customerdetails);
              $("#customercontactno").val(order.customers[index].contactno);
              $("#customeraccountno").val(order.customers[index].accountno);
              $("#customermobileno").val(order.customers[index].mobileno);
              $("#customeremail").val(order.customers[index].emailaddress);
              $("#contactname").val("");
              $("#contactno").val("");
              $("#contactemail").val("");

            },
            error: function (xhr, options, error) {
              alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
            }
          });
        }
        else {
          location.reload();
        }

      });

      $("#existingcontacts").change(function () {
        refreshContactsPanel();

        var selectedContact = $(this).val();

        if (selectedContact != "") {
          var index = $('option:selected', $("#existingcontacts")).attr('index');

          // populate the contact form inputs
          $("#contactname").val(order.customerContacts[index].contactname);
          $("#contactno").val(order.customerContacts[index].contactno);
          $("#contactemail").val(order.customerContacts[index].emailaddress);

          // disable the form inputs
          $("#contactname").attr("disabled", "disabled");
          $("#contactno").attr("disabled", "disabled");
          $("#contactemail").attr("disabled", "disabled");
          $("#addcontact").attr("disabled", "disabled");
        }
        
      });

    $("#customercontactno").keypress(function (event) {
      var quantity = $(this).val();

      if (!$.isNumeric(event.key))
        $(this).val(quantity.replace(event.key, ""));

    });

    $("#customercontactno").change(function (event) {
      if (!$.isNumeric($(this).val()))
        $(this).val("");
    });

    $("#customermobileno").keypress(function (event) {
      var quantity = $(this).val();

      if (!$.isNumeric(event.key))
        $(this).val(quantity.replace(event.key, ""));

    });

    $("#customermobileno").change(function (event) {
      if (!$.isNumeric($(this).val()))
        $(this).val("");
    });

    $("#contactname").keypress(function (event) { $(this).removeClass(); });
    $("#customername").keypress(function (event) { $(this).removeClass(); });
    $("#customercontactno").keypress(function (event) { $(this).removeClass(); });

    $("#contactno").keypress(function (event) {
      $(this).removeClass();
      var quantity = $(this).val();

      if (!$.isNumeric(event.key))
        $(this).val(quantity.replace(event.key, ""));

      if (event.keyCode == 13) { $("#addcontact").click(); }
    });

    $("#contactno").change(function (event) {
      if (!$.isNumeric($(this).val()))
        $(this).val("");
    });

    function validateEmail(email) {
      var pattern = /^[a-zA-Z0-9\-_]+(\.[a-zA-Z0-9\-_]+)*@@[a-z0-9]+(\-[a-z0-9]+)*(\.[a-z0-9]+(\-[a-z0-9]+)*)*\.[a-z]{2,4}$/;
      return pattern.test(email);
    }

    $("#customeremail").change(function (event) {
      var emailAddress = $(this).val();

      if (!validateEmail(emailAddress) && emailAddress != "") {
        $(this).addClass("alert-danger");
        $(this).attr("placeholder", "Enter valid email");
      }
    });

    $("#customeremail").keypress(function (event) { $(this).removeClass();  });

    $("#contactemail").change(function (event) {
      var emailAddress = $(this).val();

      if (!validateEmail(emailAddress) && emailAddress != "") {
        $(this).addClass("alert-danger");
        $(this).attr("placeholder", "Enter valid email");
      }
    });

    $("#contactemail").keypress(function (event) {
      $(this).removeClass();
      if (event.keyCode == 13) { $("#addcontact").click(); }
    });

    $("#addcontact").click(function () {
      $("#validbuttons").html("");

      var contactname = $("#contactname").val();
      var contactno = $("#contactno").val();
      var contactemail = $("#contactemail").val();

      if (!validContactForm()) return;

      var exists = false;
      $.each(order.customerContacts, function (index, contact) {

        if (contact.contactname.toUpperCase() === contactname.toUpperCase()) {
          $("#validbuttons").html("Please select " + contactname + " from the available contacts");
          exists = true;
          return;
        }

      });
      if (exists) return;

      order.addContacts.splice(0, 1);
      order.addContacts.push(
        {
          "contactname": contactname, "contactno": contactno, "contactemail": contactemail
        });

      $("#divcontacts").show();
      var grid = $("#contacts tbody").html("");
      grid.append("<tr>");
      grid.append("<td>" + contactname + "</td>");
      grid.append("<td align='center'>" + contactno + "</td>");
      grid.append("<td>" + contactemail + "</td>");
      grid.append("<td><i class='glyphicon glyphicon-trash' onclick='removeContact()'></i></td>");
      grid.append("</tr>");

      $("#contactname").val("");
      $("#contactno").val("");
      $("#contactemail").val("");
      $("#contactname").focus();

    });

    $("#done").click(function () {
      $("#validbuttons").html("");

      if (!validCustomerForm()) return;

      var customerid = $("#existingcustomers").val();
      var customername = $("#customername").val();
      var customerdetails = $("#customerdetails").val();
      var customercontactno = $("#customercontactno").val();
      var customeremail = $("#customeremail").val();
      var customeraccountno = $("#customeraccountno").val();
      var customermobileno = $("#customermobileno").val();

      // validation check to see if the customer name being added already exists in the dropdown
      var exists = false;
      $.each(order.customers, function (index, customer) {

        if (customer.customername.toUpperCase() === customername.toUpperCase()) {
          $("#validbuttons").html("Please select " + customername + " from the available customers");
          exists = true;
          return;
        }

      });
      if (exists) return;

      if (order.addContacts.length == 0) {
        // No contact is added only customer details
        if (confirm('No linked contact is added to the order. Continue with only the customer details?')) {

          $.ajax({
            url: '@Url.Action("AddCustomerOrder")',
            type: "POST",
            data: {
              CustomerId: customerid, CustomerName: customername, CustomerDetails: customerdetails, CustomerContactNo: customercontactno,
              CustomerMobileNo: customermobileno, CustomerAccountNo: customeraccountno, CustomerEmailAddress: customeremail, OrderId: orderId
            },
            success: function (data) {
              window.location.href = '@Url.Action("ConfirmOrderCustomer")' + '?orderId=' + data.orderId + '&customerId=' + data.customerId + '&contactId=' + data.contactId;
            },
            error: function (xhr, options, error) {
              alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
            }
          });

        }

      } // End no contact added
      else {
         // Start: a contact has been added 

         $.ajax({
            url: '@Url.Action("AddCustomerOrder")',
            type: "POST",
            data: {
              CustomerId: customerid, CustomerName: customername, CustomerDetails: customerdetails, CustomerContactNo: customercontactno,
              CustomerMobileNo: customermobileno, CustomerAccountNo: customeraccountno, CustomerEmailAddress: customeremail, OrderId: orderId,
              ContactAdded: true, ContactId: $("#existingcontacts").val(), ContactName: order.addContacts[0].contactname,
              ContactEmailAddress: order.addContacts[0].contactemail, ContactNo: order.addContacts[0].contactno
            },
            success: function (data) {
              window.location.href = '@Url.Action("ConfirmOrderCustomer")' + '?orderId=' + data.orderId + '&customerId=' + data.customerId + '&contactId=' + data.contactId;
            },
            error: function (xhr, options, error) {
              alert("OOPS! The was an error processing your request - " + jQuery.parseJSON(xhr.responseText).message);
            }
          });

      } // End contact has been added

    });

    function removeContact() {
      $("#contacts tbody").html("");
    }

    function validContactForm() {
      var valid = true;
      var contactname = $("#contactname").val();
      var contactno = $("#contactno").val();
      var contactemail = $("#contactemail").val();

      $("#contactno").removeClass();
      $("#contactname").removeClass();

      if (contactname == "") { $("#contactname").addClass("alert-danger"); valid = false; }
      if (contactno == "") { $("#contactno").addClass("alert-danger"); valid = false; }
      if (contactemail != "" && (!validateEmail(contactemail))) { valid = false; }

      return valid;
    }

    function validCustomerForm() {
      var valid = true;
      var customername = $("#customername").val();
      var customercontactno = $("#customercontactno").val();
      var customeremail = $("#customeremail").val();

      $("#customername").removeClass();
      $("#customercontactno").removeClass();

      if (customername == "") { $("#customername").addClass("alert-danger"); valid = false; }
      if (customercontactno == "") { $("#customercontactno").addClass("alert-danger"); valid = false; }
      if (customeremail != "" && (!validateEmail(customeremail))) {  valid = false; }

      return valid;
    }

    function refreshContactsPanel() {
      $("#contactname").removeAttr("disabled");
      $("#contactno").removeAttr("disabled");
      $("#contactemail").removeAttr("disabled");
      $("#addcontact").removeAttr("disabled");
      $("#contactname").val("");
      $("#contactno").val("");
      $("#contactemail").val("");
      $("#divcontacts").hide();
      $("#contacts tbody").html("");
    }
  </script>
}
