@model ColourCoded.UI.Areas.Home.Models.HomeViewModel;

@{
  ViewData["Title"] = "Home";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
  table thead tr td {
    background-color: lightgray;
    width: 100px;
  }

  table thead tr td:first-child {
    background-color: lightgray;
    width: 150px;
  }

  table {
    padding:3px;
  }

  input[type=button] {
    width: 100px;
  }

  .validationLabel {
    color: red;
    width: 150px;
    font-size: 11px;
  }

  .spaced {
    padding: 3px;
  }
</style>

<h3>Home</h3>
<br />
<h4>Create a Quote in 5 easy steps:</h4>
<br />
<ol>
  <li>Add Order Detail</li>
  <li>Add Customer Detail [Optional]</li>
  <li>Add Delivery Address Detail [Optional]</li>
  <li>Add Company Detail [Optional]</li>
  <li><a href='@Url.Action("OrderDetail", "Orders", new { area = "Orders" })'>Create Quote Now...</a></li>
</ol>
<br />
@if (Model.Orders.Count > 0)
{
  <h4>Recent Orders:</h4>
  <form id="period" method="post" action="@Url.Action("GetUserOrdersByPeriod")">
    <div class="spaced">
      <input id="filter" type="text" placeholder="Filter" />
    </div>
    <div class="spaced">
      From: <input type="date" id="startDate" name="startDate" min="2018-01-01" max="2018-12-31" />
      &nbsp;&nbsp;To: <input type="date" id="endDate" name="endDate" min="2018-01-01" max="2018-12-31" />
      &nbsp;&nbsp;<input id="search" type="button" value="Search" />
    </div>
  </form>
  <div class="spaced">
    <table id="orders">
      <thead>
        <tr>
          <td>OrderNo</td>
          <td>CreateDate</td>
          <td>Total</td>
        </tr>
      </thead>
      <tbody>
        @foreach (var order in Model.Orders)
        {
        <tr orderno="@order.OrderNo.ToUpper()">
          <td data-orderId="@order.OrderId"><a href='@Url.Action("ConfirmOrderDetail", "Orders", new { area="Orders" })?orderId=@order.OrderId'>@order.OrderNo</a></td>
          <td>@order.CreateDate</td>
          <td>@order.Total</td>
        </tr>
        }
      </tbody>
    </table>
    <br />
  </div>

}

@section Scripts
  {
  <script>

    $("#filter").keyup(function () {
      var filter = $("#filter").val().toUpperCase();

      if (filter !== "") {
        $("#orders tbody tr").hide();
        $("#orders tbody tr[orderno*='" + filter + "']").show();
      }
      else {
        $("#orders tbody tr").show();
      }
    });

    $("#search").click(function () {
      var patternV1 = /(2018)\/([0-9]{2})\/([0-9]{2})/;
      var patternV2 = /(2018)-([0-9]{2})-([0-9]{2})/;

      var startDate = $("#startDate").val();
      var endDate = $("#endDate").val();

      if (patternV1.test(startDate) || patternV2.test(startDate)) {

        if (patternV1.test(endDate) || patternV2.test(endDate)) {
          $('#period').submit();
        }
      }
    });
  </script>
}