@model ColourCoded.UI.Areas.Home.Models.HomeViewModel;

@{
  ViewData["Title"] = "Home";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
  table thead tr td {
    background-color: lightgray;
  }

  table tr td {
    padding: 2px;
  }

  table thead tr td:first-child {
    width: 150px;
  }

  table tr td:last-child {
    width: 25px;
    cursor: pointer;
  }

  input[type=button] {
    width: 100px;
  }

  .validationLabel {
    color: red;
    width: 150px;
    font-size: 11px;
  }

  .spaced {
    padding: 3px;
  }

  #search tr td:first-child {
    width: 50px;
  }
</style>

<h3>Create a Quote in 3 easy steps</h3>
<ol>
  <li>Add Order Detail</li>
  <li>Add Customer Detail [Optional]</li>
  <li>Add Delivery Address Detail [Optional]</li>
</ol>
<input value="Create Quote Now" id="quote" type="button" style="width: 150px" /> &nbsp;&nbsp;
<input id="find" type="button" value="Find Order" />
<br />
<br />
<form id="period" method="post" action="@Url.Action("GetHomeOrdersByPeriod")">
  <table id="search">
    <tr>
      <td>From:</td>
      <td><input type="date" id="startDate" name="startDate" min="2018-01-01" max="2018-12-31" /></td>
    </tr>
    <tr>
      <td>To:</td>
      <td><input type="date" id="endDate" name="endDate" min="2018-01-01" max="2018-12-31" /></td>
    </tr>
    <tr>
      <td></td>
      <td><input id="search" type="button" value="Search" /><input id="refresh" type="button" value="Refresh" /></td>
    </tr>
  </table>
</form>
@if (Model.Orders.Count > 0)
{

<div id="recentorders">
  <h4>Recent Orders:</h4>
  <input id="filter" type="text" placeholder="Filter" style="width:100px" /><br /><br />
  <table id="orders">
    <thead>
      <tr>
        <td>OrderNo</td>
        <td>CreateDate</td>
        <td>Total</td>
        <td>Status</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      @foreach (var order in Model.Orders)
      {
        <tr orderno="@order.OrderNo.ToUpper()">
          <td data-orderId="@order.OrderId"><a href='@Url.Action("ConfirmOrderDetail", "Orders", new { area="Orders" })?orderId=@order.OrderId'>@order.OrderNo</a></td>
          <td>@order.CreateDate</td>
          <td style="text-align: right">@order.Total</td>
          <td style="text-align: center">@order.Status</td>
          <td style="text-align: center;">
            @if (order.Status.ToUpper() == "ACCEPTED")
            {
              <i class="glyphicon glyphicon-download-alt" title="Download PDF" orderId="@order.OrderId">

              </i>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
  <br />
</div>

}

@section Scripts
  {
<script>

    $(document).ready(function () {
      $("#search tr td").addClass("spaced");
      $("#period").hide();
    });

    $("#find").click(function () {
      $("#period").show();
      $("#recentorders").hide();
    });


    $("#quote").click(function () {
      location.href = '@Url.Action("OrderDetail", "Orders", new { area = "Orders" })'
    });


    $("#refresh").click(function () {
      location.href = '@Url.Action("Index", "Home", new { area = "Home" })'
    });

    $("#filter").keyup(function () {
      var filter = $("#filter").val().toUpperCase();

      if (filter !== "") {
        $("#orders tbody tr").hide();
        $("#orders tbody tr[orderno*='" + filter + "']").show();
      }
      else {
        $("#orders tbody tr").show();
      }
    });

    $("#search").click(function () {
      var patternV1 = /(2018)\/([0-9]{2})\/([0-9]{2})/;
      var patternV2 = /(2018)-([0-9]{2})-([0-9]{2})/;

      var startDate = $("#startDate").val();
      var endDate = $("#endDate").val();

      if (patternV1.test(startDate) || patternV2.test(startDate)) {

        if (patternV1.test(endDate) || patternV2.test(endDate)) {
          $('#period').submit();
        }
      }
  });

  $("i").click(function () {
    var orderId = $(this).attr("orderid");
    location.href = '@Url.Action("DownloadOrder")';
  });
</script>
}